<template>
  <div class="container">
    <form class="pt-3" @submit.prevent="onSubmit">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          :class="{'is-invalid': $v.email.$error}"
          @blur="$v.email.$touch()"
          v-model="email"
        >
        <div class="invalid-feedback" v-if="!$v.email.required">Обязательное поле</div>
        <div class="invalid-feedback" v-if="!$v.email.email">Должно быть email</div>
        <div class="invalid-feedback" v-if="!$v.email.uniqEmail">Ассинхронная проверка, такой пароль уже есть</div>
      </div>

      <div class="form-group">
        <label for="email">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          :class="{'is-invalid': $v.password.$error}"
          @blur="$v.password.$touch()"
          v-model="password"
        >
        <div class="invalid-feedback" v-if="!$v.password.minLength">
          Минимальная длина {{$v.password.$params.minLength.min}}.
          У тебя {{password.length}}
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm password</label>
        <input
          type="password"
          id="confirmPassword"
          class="form-control"
          :class="{'is-invalid': $v.confirmPassword.$error}"
          @blur="$v.confirmPassword.$touch()"
          v-model="confirmPassword"
        >
        <div class="invalid-feedback" v-if="!$v.confirmPassword.sameAs">Должно быть как password</div>
      </div>

      <button class="btn btn-primary" type="submit" :disabled="$v.$invalid">Send</button>
    </form>
  </div>
</template>

<script>
import {required, email, minLength, sameAs} from 'vuelidate/lib/validators'

export default {
  data() {
    return {
      email: '',
      password: '',
      confirmPassword: ''
    }
  },
  methods: {
    onSubmit: function(){
      console.log('-----> ', this.email);
      console.log('-----> ', this.password);
    }
  },
  validations: {
    email: {
      required, email,
      uniqEmail: function(val) {
        if (val === '') return true;

        return new Promise((resolve, reject) => {
          setTimeout(function(){
            const res = val !== 'test@mail.ru';
            resolve(res)
          }, 2000)
        })
      }
    },
    password: {
      minLength: minLength(6)
    },
    confirmPassword: {
      sameAs: sameAs('password')
    }
  }
}
</script>
