<template>
  <div>
    <button class="btn btn-success" @click="setCounter(1)">Up</button>
    <button class="btn btn-warning" @click="setCounter(-1)">Down</button>
  </div>
</template>

<script>
  export default {
    name: "Actions",
    methods: {
      setCounter(val) {
        // this.$store.state.counter += val
        // this.$store.commit('changeCounter', val) //для mutations в store vuex
        this.$store.dispatch('asyncChangeCounter', {
          counterValue: val,
          timeDelay: 500
        })
      }
    }
  }
</script>

<style scoped>

</style>