<template>
  <div class="container">
    <h1>{{title}}</h1>

    <hr>

    <v-counter></v-counter>
    <v-second-counter></v-second-counter>

    <hr>

    <v-actions></v-actions>
  </div>
</template>

<script>
import Actions from './Actions'
import Counter from './Counter'
import SecondCounter from './SecondCounter'

export default {
  components: {
    vCounter: Counter,
    vSecondCounter: SecondCounter,
    vActions: Actions
  },
  computed: {
    title() {
      return this.$store.getters.title
    }
  }
}
</script>

<style>

</style>
