<template>
  <div>
    <h1>Second counter: {{counter}}</h1>
  </div>
</template>

<script>
  export default {
    computed: {
      counter() {
        return this.$store.getters.computedCounter
      }
    }
  }
</script>

<style scoped>

</style>