<template>
  <div>
    <div>
      <h1>Разбираемся с компонентами</h1>

      <v-counter>
        <h1 slot="name">Счетчик</h1>
        <p slot="info">Увеличивается на 3</p>
      </v-counter>

      <v-car :name="carName"
             :year="carYear"
             @emitChangedName="carName = $event"
      ></v-car>
    </div>

    <hr>

    <div>
      <h1>Разбираемся с директивами</h1>
      <span v-colored:color="'green'" v-if="directiveProba.visible">{{directiveProba.title}}</span>
      <button @click="directiveProba.visible = !directiveProba.visible">Visible</button>
      <button @click="directiveProba.title = 'Hello'">Change Title</button>

      <span v-colored:background.delay="'red'">Background directive change</span>
    </div>

    <hr>

    <div>
      <h1>Фильтры и миксины</h1>
      <p>{{filmix.title | uppercase | addWord}}</p> <br>

      <input type="text" v-model="filmix.searchName">
      <ul>
        <li v-for="name in filteredNames">{{name}}</li>
      </ul>

      <hr>

      <v-list></v-list>
    </div>


    <hr>

    <div>
      <h1>Работа с формой и его элементами</h1>

      <h2>Input</h2>
      <input type="text" v-model="form.inputVal">
      <p>{{form.inputVal}}</p>

      <hr>

      <h2>Textarea</h2>
      <textarea v-model="form.textVal"></textarea>
      <p class="textareaFormat">{{form.textVal}}</p>

      <hr>

      <h2>Checkboxes</h2>
      <input type="checkbox" value="vk" v-model="form.checkSoc"> Vk
      <input type="checkbox" value="face" v-model="form.checkSoc"> Face
      <li v-for="social in form.checkSoc">{{social}}</li>

      <hr>

      <h2>Radio</h2>
      <input type="radio" value="vk" v-model="form.radioSoc"> Vk
      <input type="radio" value="face" v-model="form.radioSoc"> Face
      <li>{{form.radioSoc}}</li>

      <hr>

      <h2>Select</h2>
      <select v-model="form.selectOption">
        <option v-for="social in form.selectList">{{social}}</option>
      </select>
      <p>{{form.selectOption}}</p>
    </div>

    <hr>

    <div>
      <h2>Свой контрол</h2>
      <v-onoff v-model="switched"></v-onoff>

      <p v-if="switched">Switch enable</p>
      <p v-else>Switch disable</p>
    </div>

  </div>
</template>

<script>
  import Car from './Car'
  import Counter from './Counter'
  import ListMixin from './listMixin'
  import Onoff from './Onoff'

  export default {
    mixins: [ListMixin],
    data() {
      return {
        carName: 'Porche',
        carYear: 1992,
        directiveProba: {
          visible: true,
          title: 'Пробую свою диретиву'
        },
        form: {
          inputVal: '',
          textVal: '',
          checkSoc: [],
          radioSoc: '',
          selectList: ['vk', 'insta'],
          selectOption: 'insta'
        },
        switched: false
      }
    },
    components: {
      vCar: Car,
      vCounter: Counter,
      vOnoff: Onoff
    },
    filters: {
      uppercase(val) {
        return val.toUpperCase()
      }
    }
  }
</script>

<style scoped>
  hr{
    background-color: #000;
    margin: 30px 0;
  }

  .textareaFormat{
    white-space: pre;
  }
</style>
