<template>
  <div>
    <h1>{{name}} | {{revereName}}</h1>
    <p>{{year}}</p>
    <button @click="changeName">Change Name</button>
    <button @click="changeCounter">Change Counter</button>
  </div>
</template>

<script>

  import {eventEmitter} from "./main";

  export default {
    // props: ['name', 'year'],
    props: {
      name: {
        type: String,
        default: 'Lada'
      },
      year: {
        type: Number
      }
    },
    methods: {
      changeName() {
        this.name = 'Mazda';
        this.$emit('emitChangedName', this.name)
      },
      changeCounter() {
        eventEmitter.$emit('ChangeCounter', 3)
      }
    },
    computed: {
      revereName() {
        return this.name.split('').reverse().join('')
      }
    }
  }

</script>

<style scoped>
  div{
    border: 1px solid #000
  }
</style>