<template>
  <div>
    <slot name="name"></slot>
    <h1>{{counter}}</h1>

    <hr>

    <slot name="info"></slot>
  </div>
</template>

<script>
  import {eventEmitter} from "./main";

  export default {
    data() {
      return {
        counter: 0
      }
    },
    created() {
      eventEmitter.$on('ChangeCounter', num => {
        this.counter += num
      })
    }
  }
</script>

<style scoped>
  h1{
    color: red;
  }

  div{
    border: 1px dashed green;
    margin-bottom: 40px;
  }

  p{
    font-style: italic;
  }
</style>