<template>
  <div>
    <input type="text" v-model="filmix.searchName">
    <ul>
      <li v-for="name in filteredNames">{{name}}</li>
    </ul>
  </div>
</template>

<script>
  import ListMixin from './listMixin'

  export default {
    mixins: [ListMixin]
  }
</script>