<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<div id="root">

  <ul>
    <li v-for="student in students">{{student.name}} {{student.age}}</li>
  </ul>

  <hr>

  <ul>
    <li v-for="(val, key, idx) of person">{{idx+1}} {{key}} {{val}}</li>
  </ul>

  <hr>

  <ol>
    <li v-for="num in 3">{{num}}</li>
  </ol>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>

    new Vue({
        el: '#root',
        data: {
            students: [
                {name: 'Roman', age: 28},
                {name: 'Vova', age: 22},
                {name: 'Kolya', age: 23}
            ],
            person: {
                name: 'Victor',
                age: 30
            }
        },
    })

</script>
</body>
</html>