<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<div id="app">

  <p ref="heading">{{title}}</p>
  <button @click="clickFunc">Click</button>


</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            title: 'Hello'
        },
        methods: {
            clickFunc: function () {
                this.title = 'New string';
                this.$refs.heading.style.color = 'red'
            }
        }
    })
</script>
</body>
</html>