<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div id="root">

  <div> Counter {{counter1}} | Counter2 {{counter2}}</div>
  <p>Result: {{result()}}</p>
  <p>Computed result: {{resultComputed}}</p>

  <button @click="add()">Add</button>
  <button @click="sub()">Sub</button>
  <button @click="counter2++">AddCounter2</button>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>

  new Vue({
      el: '#root',
      data: {
          counter1: 0,
          counter2: 0
      },
      methods: {
          add: function(){
              this.counter1++
          },
          sub: function(){
              this.counter1--
          },
          result: function(){
              console.log('-----> ', 'Result');
              return this.counter1 <= 3 ? 'less 3' : 'more 3'
          }
      },
      computed: {
          resultComputed: function(){
              console.log('-----> ', 'Computed result');
              return this.counter1 <= 3 ? 'less 3' : 'more 3'
          }
      },
      watch: {
          counter1: function(val){
              console.log('Val-----> ', val); // одинаково что и снизу (две вариации)
              console.log('This-----> ', this.counter1);
          }
      }
  })

</script>
</body>
</html>