<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<div id="app1">
  <p>{{title}}</p>

  <button @click="title = 'Update hello1'">Update</button>

</div>

<hr>

<div id="app2">
  <p>{{title}}</p>
  <button @click="updateHello1">Update Hello 1</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>

    var vue1 = new Vue({
        el: '#app1',
        data: {
            title: 'Hello1'
        }
    })

    vue1.fastAlert = function(){
        alert('From app1')
    }

    new Vue({
        el: '#app2',
        data: {
            title: 'Hello2'
        },
        methods: {
            updateHello1: function(){
                vue1.title = 'Update hello1 from app2';
                setTimeout(function(){
                    vue1.fastAlert()
                }, 2000)
            }
        }
    })
</script>
</body>
</html>