<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<style>
  .circle {
    border-radius: 50%;
    display: inline-block;
    margin: 40px;
    border: 1px solid #000;
    width: 200px;
    height: 200px;
  }

  .red {
    background-color: red;
  }

  .green {
    background-color: green;
  }

  .blue {
    background-color: blue;
  }
</style>
<body>

<div id="root">

  <div class="circle"
       @click="isActive = !isActive"
       :class="getClassesCss"></div>

  <div class="circle" :class="[colorCircle, {'red': isActive}]"></div>
  <input type="text" v-model="colorCircle">

  <hr>

  <div class="circle" :style="circle2Classes"></div>
  <div class="circle" :style="[circle2Classes, {'width': height2 + 'px'}]"></div>

  <input type="text" v-model="color2">
  <input type="text" v-model="height2">

  <hr>

  <div v-if="type3 === 'a'">
    <h2>Lorem1</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
  <div v-else-if="type3 === 'b'">
    <h2>Lorem2</h2>
    <p style="color: red;">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
  <p v-else>not lorem</p>
  <input type="text" v-model="type3">

</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>

    new Vue({
        el: '#root',
        data: {
            colorCircle: '',
            isActive: false,
            color2: 'blue',
            height2: 100,
            type3: 'a'
        },
        computed: {
            getClassesCss: function () {
                return {
                    'red': this.isActive,
                    'green': !this.isActive
                }
            },
            circle2Classes: function(){
                return {
                    'background': this.color2,
                    'height': this.height2 + 'px'
                }
            }
        },
        methods: {}
    })

</script>
</body>
</html>