<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div id="app">
  <input type="text" v-on:input="changeName">
  <h1>{{ name }}</h1>

  <h2>{{ 10+3 }}</h2>

  <a :href="url">Yandex</a>

  <h3 v-html="link"></h3>

  <hr>

  <h4 @mouseover="onHover">{{ titleCounter }} {{ counter }}</h4>
  <button @click="riseUp(5, 'on 5', $event)">Up 5</button>
  <button @click="riseUp(10, 'on 10', $event)">Up 10</button>

  <hr>

  <a href="https://ya.ru" target="_blank" v-on:click.prevent="">Ya</a>

  <div v-on:mousemove="mouseMove">X: {{x}} | Y: {{y}} <span v-on:mousemove.stop="">Don't move coordinates</span></div>

  <hr>

  <input type="text" v-on:keyup.enter.space="alertUp">

  <hr>

  <input type="text" v-model.lazy="inputValue">
  <div>{{inputValue}}</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>

  new Vue({
      el: '#app',
      data: {
          name: 'Vue',
          url: 'https://ya.ru',
          link: '<a href="https://google.com" target="_blank">Google</a>',
          counter: 0,
          titleCounter: 'Counter',
          x: 0,
          y: 0,
          inputValue: 'Initial'
      },
      methods: {
          changeName: function(event) {
              console.log('-----> ', this);
          },
          onHover: function(e){
              e.target.style.color = 'green'
          },
          riseUp: function(num, title, e){
              this.titleCounter = title;
              this.counter += num;

              if(num === 5) e.target.style.color = 'red'
              else e.target.style.color = 'blue'
          },
          mouseMove: function(e){
              this.x = e.clientX;
              this.y = e.clientY;
          },
          alertUp: function(e){
              alert(e.target.value)
          }
      }
  })

</script>
</body>
</html>