<template>
  <div>
    <h1>Car id is {{id}}</h1>
    <button class="btn btn-info" @click="goBackCars">Back to cars</button>

    <br><br>

    <router-link class="btn btn-primary"
                 tag="button"
                 :to="{name: 'CarFull', params: {id}, query: {name: 'Opel', year: 2000}, hash: '#scroll'}"
    >
      Full info
    </router-link>

    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: "Car",
    data() {
      return {
        id: this.$route.params['id']
      }
    },
    methods: {
      goBackCars() {
        this.$router.push('/cars')
      }
    },
    watch: {
      $route(toR, fromR) {
        this.id = toR.params['id']
      }
    },
    beforeRouteLeave(to, fromR, next) {
      console.log('-----> ', 'beforeRouteLeave');

      if (confirm('Are you sure?')) next();
      else next(false)
    }
  }
</script>

<style scoped>

</style>