<template>
  <div class="mt-3">
    <h1>Car: {{$route.query.name}}</h1>
    <h2>Year: {{year}}</h2>

    <div class="scroll"></div>
    <h3 id="scroll">Hello hash scroll</h3>
    <div class="scroll"></div>
  </div>
</template>

<script>
  export default {
    name: "CarFull",
    computed: {
      year() {
        return this.$route.query.year
      }
    },
    beforeRouteEnter(to, fromR, next) {
      console.log('-----> ', 'beforeRouteEnter');
      next();
    }
  }
</script>

<style scoped>
  .scroll{
    width: 100px;
    height: 1000px;
    background-color: #ebebeb;
  }
</style>