<template>
  <div>
    <h1>Cars</h1>

    <router-link tag="li"
                 v-for="car in 5"
                 :to="'/car/' + car"
                 :key="car"
    >
      <a>Car: {{car}}</a>
    </router-link>
  </div>
</template>

<script>
  export default {
    name: "Cars"
  }
</script>

<style scoped>

</style>